.chart-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chart {
  width: 70%;
  height: 400px;
}

.indication-box {
  width: 25%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f8f8f8;
}

