<div class="chart-container">
  <div class="chart-wrapper">
    <p class="charttitle text-primary">
      Top 10 Commodities Outside States (SSB)
    </p>
    <echarts [options]="chartOptions" [autoResize]="true"></echarts>
  </div>
  <div class="legend">
    <h5>Legends</h5>
    <div class="legend-item"><span class="legend-bullet">1.</span>Time</div>
    <div class="legend-item"><span class="legend-bullet">1.</span>Time</div>
    <div class="legend-item"><span class="legend-bullet">1.</span>Time</div>
    <div class="legend-item"><span class="legend-bullet">1.</span>Time</div>
  </div>
</div>
<router-outlet></router-outlet>
