.chart-container {
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
}

.chart-wrapper {
  flex: 1 1 60%;
  min-width: 400px;
  box-sizing: border-box;
}

.charttitle {
  color: #1B5F1B;
  font-family: 'RoxboroughCF';
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}

echarts {
  display: block;
  width: 120%;
  height:  23.938rem;
  box-sizing: border-box;
}

.legend {
  background-color: #f8f9fa;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 8rem; /* Reduced width */
  text-align: center;
  flex: 0 1 auto; /* Allow shrinking and growing */
  align-self: center;
  box-sizing: border-box;
}

.legend h5 {
  font-weight: bold;

}

.legend-item {
  display: flex;
  /* align-items: center; */
  margin-bottom: 8px;
  font-size: 13px;
}

.legend-bullet {
  display: inline-block;
  width: 3rem;
  text-align: center;
  margin-right: 8px;
 font-weight: bold;
 font-size: 13px;
}

@media (max-width: 768px) {
  .chart-container {
    flex-direction: column;
    align-items: stretch;
  }

  .chart-wrapper, .legend {
    flex: 1 1 100%;
    min-width: 100%;
  }

  .legend {
    max-width: 100%; /* Full width on smaller screens */
    margin-top: 20px;
    align-self: flex-start;
  }

  echarts {
    height: 350px;
  }
}

@media (max-width: 480px) {
  echarts {
    height: 300px;
  }

  .charttitle {
    font-size: 20px;
  }

  .legend {
    padding: 10px;
  }
}